<html>


<h3>Inddeling af størrelsesgrupper</h3>


<body>

<p>
Hver art er blevet inddelt i tre størrelsesgrupper; juvenile, unge kønsmodne og ældre kønsmodne fisk. De juvenile fisk har en maks længde svarende til den længde hvor en gennemsnitsfisk forventes at blive kønsmoden.
Maksimum længden for de unge kønsmodne fisk er oftest lig med minimunslængden for fangst. 
Skemaet nedenfor viser størrelsesinddelingerne i cm. 
</br>
</br>
<b>Hvorfor inddele arterne i tre størrelsesgrupper?</b></br>
En stigning i forekomsten af juvenile fisk kan f.eks. være en indikator for forbedrede gydebetingelser eller leveforhold for de mindste fisk . Et fald i forekomsten af store fisk kan være en indikation på en uhensigtsmæssig høj dødelighed. Det kan enten skyldes at de bliver fanget eller at de bliver spist før de når at blive store. Det kan dog også skyldes at fiskene i stigende grad er begyndt at forlade området inden de bliver voksne.  

</br>
<style>
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color:  #2F3EEA;
    color: #ffffff;
    text-align: left;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid  #2F3EEA;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color:  #2F3EEA;
}
</style>

<table class="styled-table">
  <tr style="background-color:#2F3EEA;color:white;">
    <th></th>
    <th>Juvenile</th>
    <th>&nbsp; Unge gydemodne</th> 
    <th>&nbsp; Ældre gydemodne</th>
  </tr>
  <tr>
    <td>&nbsp;Hvilling</td>
    <td> &nbsp;<20 </td> 
    <td>&nbsp; 20-30</td>
    <td>&nbsp; >30</td>
  </tr>
  <tr>
     <td>&nbsp;Brisling</td>
    <td>&nbsp;<10</td> 
    <td>&nbsp; 10-15</td>
    <td>&nbsp; >15</td>
  </tr>
    <tr>
     <td>&nbsp;Sild</td>
   <td>&nbsp;<15</td> 
    <td>&nbsp; 15-20</td>
    <td>&nbsp; >20</td>
  </tr>
    <tr>
     <td>&nbsp;Rødspætte</td>
    <td>&nbsp;<15</td> 
    <td>&nbsp; 15-20</td>
    <td>&nbsp; >20</td>
  </tr>
    <tr>
     <td>&nbsp;Skrubbe</td>
    <td>&nbsp;<15</td> 
    <td>&nbsp; 15-20</td>
    <td>&nbsp; >20</td>
  </tr>
    <tr>
     <td>&nbsp;Torsk</td>
    <td>&nbsp;<35</td> 
    <td>&nbsp; 35-65</td>
    <td>&nbsp; >65</td>
  </tr>
  <caption>Tabellen viser størrelsesinddelinger for hver art i cm</caption>
</table>
<br/>
<i>Læs mere om arterne <a href=https://www.fiskepleje.dk/fiskebiologi> her</a></i>
<br/>

</ul>



</p>


</body>
</html>
