<html>


<h3>Formået</h3>

<body>
Marine økosystemer påvirkes af menneskelige aktiviteter og måden vi forvalter naturen. En af konsekvenserne er ændringer i fiskeforekomster.
Bestandsvurderinger giver et godt billede af den bestandenes tilstand i hele deres udbredelsesområde, men de er ikke egnede til at opfange lokale dynamikker. Fiskebestande kan godt vurderes til at være i en god tilstand, selvom fiskene forsvinder lokalt; for eksempel når miljøtilstanden forringes eller hvis dødeligheden stiger i dele af dens udbredelsesområde. Formålet med denne side er derfor at gøre viden om forekomsten af fisk i udvalgte afgrænsede områder nemt tilgængelig. 

</br>
<h4>Hvor kommer data fra?</h4>
Til at undersøge de lokale dynamikker af fiskebestande er Data of Trawl Samples (DATRAS) [1] fra the International Council of Exploration of the Sea (ICES)[2] brugt. Disse data er indsamlet i et internatinalt koordineret trawl-survey. Den statistiske analyse er lavet med Generalised Additive Mixed Models(GAMM) [3] med følgende input variabler i modellerne:
<li>Tid</li> 
<li>Kvartal</li>
<li>Dybde</li>
<li>Sedimenttype</li>
</br>
Respons variablen er Catch Per Unit Effort(CPUE) og data er fra 2000-2022. 

</br>
</br>
<h4>Hvorfor afgrænsede områder?</h4>
De afgrænsede områder er nøje udvalgt på baggrund af datadækning. De udvalgte områder er områder med en god konsistent datadækning i både tid og rum. 

</br>
</br>
<h4>Hvorfor sammenligne 5-årige perioder?</h4>
Selvom datadækningen i de udvalgte områder er relativ god, så er der stadig tale om et begrænset antal prøvestationer hvert år. Det internationale trawl-survey er nemlig lavet til at sige noget generelt om store farvandsområder og ikke små områder, såsom Øresund. Men ved at samle prøvetagninger over en 5-årig periode opnår man en langt større sikkerhed i sine konklusioner, og man erkender at datagrundlaget ikke er solidt nok til at man kan udtale sig om svingninger fra år til år, men kun om den generelle situation over en 5-årig periode.


</br></br>
Læs mere om hele metoden her (link til pdf)
</br></br>
<u>Referencer</u> <br/>

[1]<a href=https://www.ices.dk/data/data-portals/Pages/DATRAS.aspxi> DATRAS</a>
[2]<a href=https://www.ices.dk/Pages/default.aspx> ICES</a>
[3]<a href=https://doi.org/10.1201/9781315370279>Wood, Simon N. (2017). Generalized Additive Models: An Introduction with R. 2nd Edition. Chapman and Hall/CRC.: Chapman and Hall/CRC. isbn: Chapman and Hall/CRC. </a>

</body>
</html>
