<html>
</br>
Rød betyder at der har været en tilbagegang i arten.</br>
Grøn betyder at der er sket en stigning.</br>
Grå betyder, at der ikke er observeret en signifikant ændring, eller at den observerede ændring kan skyldes tilfældigheder og måle-usikkerhed. </br>
De horizontale linjer på hver side af prikkerne beskriver usikkerheden. Bemærk at når den er grå, overlapper den også med 0. </br>
Er der bare en grå prik på 0-linjen, er der ikke tilstrækkeligt med data.</br>
Bemærk, at grå ikke nødvendigvis er et dårligt tegn, hvis forekomsten af fisk er på et sundt niveau i begge perioder, der sammenlignes. Omvendt kan grå også betyde, at forekomsten er på et uhensigtsmæssigt lavt niveau i begge perioder.
</html>


